* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F8FFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B1DAFF;
    padding: 10px 20px;
}

.logo img {
    width: 200px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon img {
    width: 50px;
    margin-right: 10px;
}

.user-name p {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.user-management-module {
    width: 90%;
    
    padding: 20px;
    border-radius: 10px;
}

.user-management-module h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.search-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-section input {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    background-color: #8fbf96;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.search-button:hover {
    background-color: #76a97a;
}

.add-button {
    background-color: #9a78b0;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.add-button:hover {
    background-color: #815a96;
}

.user-list {
    width: 100%;
    border-collapse: collapse;
}

.user-list th, .user-list td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.modify-button {
    background-color: #8fbf96;
    border: none;
    padding: 8px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.modify-button:hover {
    background-color: #76a97a;
}

.delete-button {
    background-color: #f28c8c;
    border: none;
    padding: 8px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #e47474;
}
