* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F8FFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B1DAFF;
    padding: 10px 20px;
}

.logo img {
    width: 200px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon img {
    width: 50px;
    margin-right: 10px;
}

.user-name p {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.modify-user-module {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.modify-user-module h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#back_arrow {
    width: 30px;
}

.modify-user-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.modify-user-form label {
    grid-column: span 2;
    font-weight: bold;
}

.modify-user-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1.5rem;
}

.modify-button {
    background-color: #8fbf96;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    
}

.modify-button:hover {
    background-color: #76a97a;
}

.reset-button {
    background-color: #d3d3d3;
    border: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
}

.reset-button:hover {
    background-color: #bbb;
}
